body{
    background-color: #263238;
    margin-left: 1%;
}

label{
    color: white;
    font-size: 1.5em;
}

.input-group {
    margin-bottom: 20px;
}

#resultado {
    color: white;
    font-size: 1.6em;
    background-color: #333; /* Fundo cinza escuro */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    margin-top: 20px; /* Espaço superior */
}
